@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.place-image-here44 {
  position: absolute;
  top: 145px;
  left: 151px;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray);
  width: 1098px;
  height: 598px;
}
.contact-child {
  position: absolute;
  top: -17px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-whitesmoke);
  width: 839px;
  height: 746px;
}
.devan,
.sok8073r {
  position: absolute;
  top: 439px;
  left: 322px;
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 529px;
  height: 20px;
}
.sok8073r {
  top: 608px;
}
.mbclab {
  top: 555px;
  color: inherit;
  text-decoration: none;
}
.contact-mbc-lab,
.laboratorymbcgmailcom,
.mbclab,
.tult-1304 {
  position: absolute;
  left: 322px;
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 529px;
  height: 20px;
}
.laboratorymbcgmailcom {
  top: 498px;
  color: inherit;
  text-decoration: none;
}
.contact-mbc-lab,
.tult-1304 {
  top: 380px;
}
.contact-mbc-lab {
  top: 248px;
  left: 262px;
  font-size: var(--font-size-45xl);
  letter-spacing: -0.04em;
  line-height: 80px;
  font-weight: 800;
  width: 958px;
  height: 65px;
}
.customerservice-1-icon {
  position: absolute;
  top: 307px;
  left: 739px;
  width: 602px;
  height: 505px;
  object-fit: cover;
  opacity: 0;
}
.customerservice-1-icon.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-left;
}
.image-2-icon {
  position: absolute;
  top: 487px;
  left: 272px;
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.jl-telekomunikasi-no {
  margin: 0;
  white-space: pre-wrap;
}
.jl-telekomunikasi-no-container {
  position: absolute;
  top: 326px;
  left: 274px;
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 529px;
  height: 20px;
}
.contact-item {
  position: absolute;
  top: 555.5px;
  left: 502.5px;
  border-right: 1px solid var(--dark-000);
  box-sizing: border-box;
  width: 1px;
  height: 6px;
}
.image-3-icon,
.image-5-icon {
  position: absolute;
  top: 369px;
  left: 272px;
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.image-5-icon {
  top: 546px;
  left: 274px;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.image-6-icon,
.image-7-icon,
.logombc-1-icon7 {
  position: absolute;
  top: 601px;
  left: 271px;
  width: 43px;
  height: 43px;
  object-fit: cover;
}
.image-7-icon,
.logombc-1-icon7 {
  top: 428px;
  left: 272px;
  width: 42px;
  height: 42px;
}
.logombc-1-icon7 {
  top: 25px;
  left: 193px;
  width: 177px;
  height: 37px;
}
.weattackweprotect7 {
  position: absolute;
  top: 0;
  left: 1070px;
  font-size: var(--b4-2-semibold-size);
  letter-spacing: -0.04em;
  line-height: 80px;
  font-weight: 600;
  color: var(--dark-000);
  text-align: center;
}
.home8 {
  left: 546px;
  font-weight: 500;
  cursor: pointer;
}
.about7,
.contact8,
.field7,
.home8 {
  position: absolute;
  top: 33px;
  font-size: var(--b4-2-semibold-size);
  letter-spacing: -0.01em;
  line-height: 20px;
  color: var(--dark-000);
}
.field7 {
  left: 642px;
  font-weight: 500;
  cursor: pointer;
}
.about7,
.contact8 {
  left: 730px;
  font-weight: 800;
}
.about7 {
  left: 846px;
  font-weight: 500;
  cursor: pointer;
}
.contact7 {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  height: 809px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-darkslategray);
  font-family: var(--b4-2-semibold);
}
