@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes wobble-hor-bottom {
  0%,
  to {
    transform: translateX(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
.gametech1 {
  position: absolute;
  top: 30px;
  left: 459px;
  letter-spacing: -0.04em;
  line-height: 80px;
  font-weight: 600;
}
.gametech-wrapper,
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 140px;
}
.header {
  top: 157px;
  left: -7px;
  text-align: center;
  font-size: var(--font-size-77xl);
}
.pengembangan-game-yang {
  margin: 0;
}
.menyediakan-fitur-fitur-sepert {
  margin-bottom: 0;
}
.membangun-atau-mengoptimalkan {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.pengembangan-game-yang-container {
  position: absolute;
  top: 804px;
  left: 241px;
  letter-spacing: -0.02em;
  line-height: 30px;
  font-weight: 600;
  color: var(--color-darkslategray);
  text-align: justify;
  display: inline-block;
  width: 944px;
}
.place-image-here29,
.place-image-here30 {
  position: absolute;
  top: 431px;
  left: 1006px;
  box-shadow: 8px 40px 80px -16px rgba(0, 0, 0, 0.5);
  border-radius: var(--br-21xl);
  background-color: var(--dark-000);
  width: 264px;
  height: 264px;
  opacity: 1;
}
.place-image-here29.animate,
.place-image-here30.animate,
.place-image-here31.animate,
.place-image-here32.animate,
.place-image-here33.animate {
  animation: 1s ease 0s infinite normal forwards pulsate;
}
.place-image-here30 {
  top: 267px;
  left: 121px;
  box-shadow: 12px 32px 80px -20px rgba(0, 0, 0, 0.12);
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  width: 164px;
  height: 164px;
}
.place-image-here31,
.place-image-here32,
.place-image-here33 {
  position: absolute;
  top: 93px;
  left: 237px;
  box-shadow: 8px 40px 80px -16px rgba(0, 0, 0, 0.5);
  border-radius: var(--br-5xl);
  background-color: var(--dark-000);
  width: 96px;
  height: 96px;
  opacity: 1;
}
.place-image-here32,
.place-image-here33 {
  top: 119px;
  left: 1138px;
  border-radius: var(--br-13xl);
  width: 132px;
  height: 132px;
}
.place-image-here33 {
  top: 499px;
  left: 278px;
  box-shadow: 12px 32px 80px -20px rgba(0, 0, 0, 0.12);
  background-color: var(--color-white);
  width: 196px;
  height: 196px;
}
.gametech-icon1,
.logombc-1-icon4 {
  position: absolute;
  object-fit: cover;
}
.gametech-icon1 {
  top: 333px;
  left: 537px;
  border-radius: var(--br-21xl);
  width: 362px;
  height: 362px;
}
.gametech-icon1:hover {
  animation: 1s ease 0s infinite normal none wobble-hor-bottom;
  opacity: 1;
}
.logombc-1-icon4 {
  top: 25px;
  left: 193px;
  width: 177px;
  height: 37px;
}
.weattackweprotect4 {
  position: absolute;
  top: 0;
  left: 1070px;
  letter-spacing: -0.04em;
  line-height: 80px;
  font-weight: 600;
  text-align: center;
}
.about4,
.contact4,
.field4,
.home5 {
  position: absolute;
  top: 33px;
  left: 546px;
  letter-spacing: -0.01em;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
}
.about4,
.contact4,
.field4 {
  left: 642px;
  font-weight: 800;
}
.about4,
.contact4 {
  left: 730px;
  font-weight: 500;
}
.about4 {
  left: 846px;
}
.gametech {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  height: 2215px;
  overflow: hidden;
  text-align: left;
  font-size: var(--b4-2-semibold-size);
  color: var(--dark-000);
  font-family: var(--b4-2-semibold);
}
